[run]

branch = True

source =
    counterweight/
    tests/

[report]

skip_empty = True
show_missing = True
sort = -cover

exclude_lines =
    def __repr__
    def __str__

    raise AssertionError
    raise NotImplementedError

    if 0:
    if False:
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @overload
    assert False
    assert_never

    pragma: unreachable
    pragma: debugging
    pragma: never runs
