repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-toml
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
        exclude_types: [svg]
      - id: forbid-new-submodules
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
      - id: python-check-blanket-type-ignore

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
      - id: check-dependabot

  - repo: local
    hooks:
      - id: generate-utilities
        name: generate utilities
        language: unsupported
        entry: uv run codegen/generate_utilities.py
        always_run: true
        pass_filenames: false
      - id: generate-screenshots
        name: generate docs screenshots
        language: unsupported
        entry: uv run docs/examples/generate-screenshots.sh
        always_run: true
        pass_filenames: false

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.11'
    hooks:
      - id: ruff-check
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format

# TODO: figure out how to get this and snippets to play nicely
#  - repo: https://github.com/adamchainz/blacken-docs
#    rev: 1.16.0
#    hooks:
#      - id: blacken-docs
#        additional_dependencies:
#        - black==23.3.0

ci:
  skip:
    - generate-utilities
    - generate-screenshots
