name: publish-docs

on:
  push:
    branches:
      - main

jobs:
  publish-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v6.0.2
    - name: Install uv
      uses: astral-sh/setup-uv@v7.3.0
      with:
        enable-cache: true
    - name: Build and deploy docs
      run: uv run mkdocs gh-deploy --clean --strict --verbose --force
